{% extends 'partials/base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow my-2">
                <div class="card-body">
                    <h4> Password Reset Done</h4>
                    <hr>
                    <div class="alert alert-info">
                        An Email with instructions to reset password has been sent to the email you provided.
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
