{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow my-2">
                <div class="card-body">
                    <h4> Password Complete</h4>
                    <hr>
                    <div class="alert alert-info">
                       Your password reset is successful. Log in with new credentials
                   
                </div>
                <a href="{% url 'users-login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
