{% extends 'partials/base.html' %}
{% block title %}Password Confirm{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow my-2">
                <div class="card-body">
                    <h4>Reset Your Password</h4>
                    <hr>
                   
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <button type="submit" class="btn btn-primary">Reset Password Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
